@model Snack_Shack.Models.Drink

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Drink</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContainsAlcohol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContainsAlcohol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlcoholPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlcoholPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrinkBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrinkBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DrinkID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
