@model Snack_Shack.Models.Person
@using Snack_Shack.Data

@{
    ViewData["Title"] = "_PeopleView";
}

<h1>Personal Details @Model.FullName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsMinor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsMinor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsCustomer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsCustomer)
        </dd>
    </dl>
</div>

