@model IEnumerable<Snack_Shack.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h1>Payment Cards</h1>

<p>
    <a class="btn btn-success"asp-action="Create">Add Payment</a>
</p>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardHolderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardCVV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardHolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardCVV)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentID"
                   class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentID"
                   class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentID"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
