@model IEnumerable<Snack_Shack.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<h1>Food List</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Add Food</a>
</p>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainsNuts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainsGluten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainsNuts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainsGluten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVegetarian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVegan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodID"
                   class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodID"
                   class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodID"
                   class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

