@model IEnumerable<Snack_Shack.Models.Food>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Snack Shack</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Snack Shack</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Food" asp-action="Index">Food</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Drinks" asp-action="Index">Drinks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="">My Account</a>
                        </li>
                    </ul>

                    <div>
                        Search : <input type="text" />
       
                  </div>
                  </div>
                  </div>
                  </nav>
</header>
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainsNuts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContainsGluten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegetarian)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainsNuts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContainsGluten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVegetarian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVegan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FoodID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FoodID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FoodID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


</body>
</html>