@model Snack_Shack.Models.Food

@{
    ViewData["Title"] = "FoodDetails";
    string filter = (string)ViewData["Food"];
}

<h1>Details</h1>


<div class="card-deck text-center">

        <div class="card-img-top text-center text-white bg-danger mb-3">
            <img src="/images/@Model.Product.ImageURL" height=300 width=300 alt="ImageURL" class="" />
        </div>
        <div class="card-body text-center">
            <h5 class="card-title card-body text-center text-white bg-danger mb-3">@Html.DisplayFor(model => model.Product.Name)</h5>
            <p class="card-text card-body text-center text-white bg-danger mb-3">@Html.DisplayFor(model => model.Product.Description)</p>
        </div>
        <div class="card-footer text-center text-white bg-danger mb-3">
            <small class="text-muted text-center">
                Calories: @Html.DisplayFor(model => model.Calories)
                
                Contains Nuts: @Html.DisplayFor(model => model.ContainsNuts)

                Contains Gluten: @Html.DisplayFor(model => model.ContainsGluten)

                Vegetarian: @Html.DisplayFor(model => model.IsVegetarian)

                Vegan: @Html.DisplayFor(model => model.IsVegan)
            </small>
        </div>
    </div>



