@*Add order details, order items, Feedback*@

@model Snack_Shack.Models.Order

    @{
        ViewData["Title"] = "OrderDetails";
    }

    <h1>Order Details</h1>
    <br />
    <br />

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Order #@Html.DisplayFor(model => model.OrderID)</h5>
                    <p class="card-text">
                        Table No. @Html.DisplayFor(model => model.TableNo) |
                        Guest: @Html.DisplayFor(model => model.Person.FirstName)
                        <br />

                        @foreach (var item in Model.OrderItems)
                        {

                                //@item.Product.Name

                                @item.Quantity
                            <br />
                                @item.UnitPrice

                                //@item.TotalPrice

                        }

                        Taken by:  @Html.DisplayFor(model => model.StaffName)
                        <br />
                        Order Date: @Html.DisplayFor(model => model.OrderDate)
                    </p>
                    <a href="#" class="btn btn-primary">Print Order</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feedback</h5>
                    <p class="card-text">
                        @Html.DisplayFor(model => model.Feedback.FeedbackMessage)
                        <br />
                        Review Date: @Html.DisplayFor(model => model.Feedback.CustomerReviewDate)
                    </p>
                    <a href="#" class="btn btn-primary">Print Feedback</a>
                </div>
            </div>
        </div>
    </div>

