
@model Snack_Shack.Models.Order

@{
    ViewData["Title"] = "OrderDetails";
}

<h2>Order Details</h2>
<br />
<br />

<h3>
    Table No. @Html.DisplayFor(model => model.TableNo) |
    Guest: @Html.DisplayFor(model => model.Person.FirstName) |
    OrderNo: @Html.DisplayFor(model => model.OrderID)
</h3>
<p>
    Taken by:  @Html.DisplayFor(model => model.StaffName)
    <br />
    Order Date: @Html.DisplayFor(model => model.OrderDate)
</p>
<br />

@*ToDo: Add Product Name and OrderID*@
<div class="container">
    <div class="row">
        <div class="col-1 bg-success text-white">
            <br /><br />
            <b>Product</b>
            <br />
            <br />
            @foreach (var item in Model.OrderItems)
            {
                @item.Product.Name<br />
            }
            <br />
            <br />
            <br />
        </div>
        <div class="col-1 bg-success text-white">
            <br /><br />
            <b>Price</b>
            <br />
            <br />
            @foreach (var item in Model.OrderItems)
            {
                @item.UnitPrice.ToString("£0.00");<br />
            }
        </div>
        <div class="col-1 bg-success text-white">
            <br /><br />
            <b>Quantity</b>
            <br />
            <br />
            @foreach (var item in Model.OrderItems)
            {
                @item.Quantity.ToString("");<br />
            }
        </div>
        <div class="col-1 bg-success text-white">
            <br /><br />
            <b>Subtotal</b>
            <br />
            <br />
            @foreach (var item in Model.OrderItems)
            {
                @item.TotalPrice.ToString("£0.00");<br />
            }
        </div>

        @*// ToDo: Add Total price*@

        <div class=" col-2"></div>
        <div class="col-4">
            <b>Feedback</b>
            <br />
            <br />
            <h5><i>"@Html.DisplayFor(model => model.Feedback.FeedbackMessage)"</i></h5>
            <br />
            <p>
                Review Date: @Html.DisplayFor(model => model.Feedback.CustomerReviewDate)
                <br />
                <br />
                Reivew by: @Html.DisplayFor(model => model.Person.FirstName)
            </p>
        </div>
    </div>
</div>







