@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<style>
    body {
        background-color: #FF5757;
    }
</style>
<style>
    /* Send button */
    .button-success {
        font-family: 'Quicksand', sans-serif;
        color: #FF5757;
        background-color: #FFE8E8;
    }

</style>
<br />
<h8>Snack Shack</h8>
<div class="row">
    <div class="col-md-6">
        <h9>Sign up</h9>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            @*<h4>Create a new account.</h4>*@

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label style="font-family: Quicksand" asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="font-family: Quicksand" asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="font-family: Quicksand" asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" style="font-family: Quicksand" class="btn button-success">Register</button>
        </form>
    </div>
    <div class="col-4 offset-2">
        <section>
            @*<h4>Use another service to register.</h4>*@

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <img class="d-block w-100" src="~/images/Logo.png" alt="Snack Shack Logo">
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-success" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
